<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Articles:</strong>
  <ul>
    <% @tag.get_articles(@tag.name).each do |article| %>
      <li><%= article.title %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
